<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>__utm</string>
		<key>BeginsWith</key>
		<true/>
		<key>UserReadableDescription</key>
		<string>Google Analytics</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>__unam</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Google Analytics</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>__gads</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Google Analytics</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>__g_</string>
		<key>BeginsWith</key>
		<true/>
		<key>UserReadableDescription</key>
		<string>Google Analytics</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>__qc</string>
		<key>BeginsWith</key>
		<true/>
		<key>UserReadableDescription</key>
		<string>Quantcast</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>WEBTRENDS_ID</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>WebTrends</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>WT_</string>
		<key>BeginsWith</key>
		<true/>
		<key>UserReadableDescription</key>
		<string>WebTrends</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>wooMeta</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Woopra</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>wooTracker</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Woopra</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>welcome</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>generic</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>visitor_id</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>generic</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>uuid</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>generic</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>UNAUTHID</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>track</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>generic</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>scorecardresearch</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Scorecard Research</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>s_</string>
		<key>BeginsWith</key>
		<true/>
		<key>UserReadableDescription</key>
		<string>Omniture</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>RES_TRACKINGID</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>NID</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Google</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>NGUserID</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Net Gravity</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>MintUnique</string>
		<key>BeginsWith</key>
		<true/>
		<key>UserReadableDescription</key>
		<string>Mint</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GUID</string>
		<key>BeginsWith</key>
		<true/>
		<key>UserReadableDescription</key>
		<string>generic</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GCIONID</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>ADTECH</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>FTUserTrack</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>FarkUser</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Fark.com</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>EktGUID</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Ektron</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>EkAnalytics</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Ektron</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>DMUserTrack</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>BBC-UID</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>BBC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>.ASPXANONYMOUS</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>ASP.NET</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>cluid</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Clicky</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>_jsuid</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Clicky</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>_chartbeat2</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Chartbeat</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>__cs</string>
		<key>BeginsWith</key>
		<true/>
		<key>UserReadableDescription</key>
		<string>Crowd Science</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>_cs</string>
		<key>BeginsWith</key>
		<true/>
		<key>UserReadableDescription</key>
		<string>AddThis</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>guest_id</string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string>Twitter</string>
	</dict>
	<dict>
		<key>Name</key>
		<string></string>
		<key>BeginsWith</key>
		<false/>
		<key>UserReadableDescription</key>
		<string></string>
	</dict>
</array>
</plist>
